@page "/Prestamos/Details"
@page "/Prestamos/Details/{PrestamoId:int}"
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject PrestamosServices prestamosServices

@if (prestamo != null)
{
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-header ">Registro Eliminar Prestamo</h5>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>PrestamoId:</strong>@prestamo.PrestamoId</li>
                                <li><strong>Deudor:</strong>@prestamo.Deudor?.Nombres</li>
                                <li><strong>Concepto:</strong>@prestamo.Concepto</li>
                                <li><strong>Monto:</strong>@prestamo.Monto</li>
                                <li><strong>Balance:</strong>@prestamo.Balance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
           
            <button type="button" @onclick="Volver" class="btn btn-outline-primary">
                <span class="bi bi-arrow-left mt-3"></span>
                Volver
            </button>
        </div>
    </div>
}
else
{
    <p>No encontrado.</p>
}

@code {
    [Parameter]
    public int PrestamoId { get; set; }
    public Prestamos? prestamo { get; set; } = new Prestamos();

    protected override async Task OnInitializedAsync()
    {
        if (PrestamoId != 0)
        {
            prestamo = await prestamosServices.Buscar(PrestamoId);
        }
    }
   
    public async Task Volver()
    {
        navigationManager.NavigateTo("/Prestamo/Index");
    }
}
